<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@drawable/shopping"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shopster"
        tools:targetApi="33">
        <activity
            android:name=".ShowHistory"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PlaceOrderActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".IntroActivity" />
        <activity android:name=".MenuFiles.BaseActivity" /> <!-- <activity android:name=".ShowHistory" /> -->
        <activity android:name=".MenuFiles.SearchActivity" />
        <activity
            android:name=".MenuFiles.AddProduct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- //<activity android:name=".PlaceOrderActivity" /> -->
        <activity android:name=".MenuFiles.CartActivity" /> <!-- //<activity android:name=".viewholder.CartItemAdapter" /> -->
        <!-- //<activity android:name=".viewholder.ProductAdapter" /> -->
        <activity android:name=".ProductDetails" />
        <activity android:name=".MenuFiles.ProfileActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>